export NIXD_NIXOS_OPTIONS_EXPR="(let flake = builtins.getFlake \"$PWD/home-manager\"; in if builtins.currentSystem == \"aarch64-darwin\" then flake.darwinConfigurations.heimdall.options else flake.nixosConfigurations.vider.options)"
export NIXD_HOME_MANAGER_OPTIONS_EXPR="(let flake = builtins.getFlake \"$PWD/home-manager\"; in if builtins.currentSystem == \"aarch64-darwin\" then flake.homeConfigurations.\"justin@heimdall\".options else flake.homeConfigurations.\"justin@nixos\".options)"

# use flake
